html{
    background-image: url(assets/images/Space.png);
}
p{
    color:white;
    text-align: center;
}
h1{
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;
}
h3{
    color:white
}
.website-headline{
font-family: "Poppins", sans-serif
font-weight: 100;
color: white;
text-align: calc();
}
#contact {
    
}
* {
    box-sizing: border-box;
    margin: 0;
    height: 20px;
    padding: 0;
    background-color: #1e1d2d;
}

li, a, button{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ECF0F1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.navlinks{
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a{
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    transition: all 0.3s ease 0s;
    color:rgb(45, 48, 135)
}

button{
    padding: 0px 25px;
    background-color: rgb(45, 48, 135);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

button:hover{
    background-color: rgba(45, 48, 135, 0.8); 
}
